Repository kirill-krasuk/donut_boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:styled, yarn lint-fix

.lintstagedrc:

{
	"**/*.{json,css,scss,sass,md}": ["prettier --write"],
	"**/*.{js,jsx,ts,tsx}": ["yarn lint:styled", "prettier --write", "yarn lint-fix"]
}

refactor: small refactor things
  src/app/store/reducers/server-reducer.ts
  src/shared/lib/http/HTTPError.ts
  src/shared/lib/http/index.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

refactor: change header structure
  src/widgets/header/index.ts
  src/widgets/header/ui/Header.tsx
  src/widgets/header/ui/header/Header.tsx
  src/widgets/header/ui/header/index.tsx
  src/widgets/header/ui/header/styles/Content.ts
  src/widgets/header/ui/header/styles/Header.ts
  src/widgets/header/ui/header/styles/Nav.ts
  src/widgets/header/ui/header/styles/Title.ts
  src/widgets/header/ui/header/styles/index.ts
  src/widgets/header/ui/index.ts
  src/widgets/header/ui/themed-logo/index.tsx
  src/widgets/header/ui/themed-logo/styles/DarkLogo.ts
  src/widgets/header/ui/themed-logo/styles/Logo.ts
  src/widgets/header/ui/themed-logo/styles/index.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

fix: memoize theme provider value
  src/app/providers/with-theme/ThemeProvider.tsx
Due: prettier --write, yarn lint:styled, yarn lint-fix

chore: update ts version
  .yarn/releases/yarn-3.2.1.cjs
  .yarn/releases/yarn-3.3.0.cjs
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore(vscode): update vscode config
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

refactor(ui): refactor default props and types
  src/shared/ui-kit/button/Button.tsx
  src/shared/ui-kit/button/enums.ts
  src/shared/ui-kit/button/index.stories.tsx
  src/shared/ui-kit/button/index.tsx
  src/shared/ui-kit/button/styles/Wrapper.ts
  src/shared/ui-kit/button/types.ts
  src/shared/ui-kit/image/Image.tsx
  src/shared/ui-kit/image/components/Picture.tsx
  src/shared/ui-kit/image/styles/ImgContainer.ts
  src/shared/ui-kit/image/types.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

build(storybook): update storybook config
  .eslintrc
  config/.storybook/main.ts
  package.json
  yarn.lock
Due: prettier --write, yarn lint:styled, yarn lint-fix

refactor: remove unused memoize in selectors
  src/features/modals/model/store/selectors.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

chore(webpack): small refactor changes
  config/shared/config/paths.ts
  config/webpack/tsconfig.json
  config/webpack/webpack.common.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

style(ts): ts config improves with comments and possible options
  tsconfig.json
Due: prettier --write

style(ts): fix ts errors
  src/app/routes/root-view/styles/AnimationContainer.ts
  src/shared/lib/react/functions/factory/createFactory.ts
  tools/lib/compilation/compile.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

refactor: better experience with react context
  src/shared/hooks/useInitialProps.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

fix: missed storybook deps
  package.json
  yarn.lock
Due: prettier --write

refactor: storybook source loader to loaders dir
  config/.storybook/main.ts
  config/shared/loaders/story-source-loader.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

refactor: extend window interface
  src/app/store/index.ts
  src/window.d.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

refactor: add initial props to window interface
  src/shared/lib/react/functions/props/getInitialProps.ts
  src/window.d.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

refactor: add override keyword to extended classes
  server/adapters/server/ExpressAdapter.ts
  server/adapters/server/FastifyAdapter.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

refactor: turn on noImplicitOverride
  src/shared/lib/react/components/ErrorBoundary.tsx
  tsconfig.json
Due: prettier --write, yarn lint:styled, yarn lint-fix

style(ts): turn on a few rules
  tsconfig.json
Due: prettier --write

build: update ts version
  .yarn/sdks/typescript/package.json
  package.json
  yarn.lock
Due: prettier --write

chore: unlock ts rule
  tsconfig.json
Due: prettier --write

chore: add markdownlint
  .markdownlint.json
  .vscode/settings.json
  README.md
  docs/format/README.md
  docs/structure/README.md
  tools/ci/lint.sh
Due: prettier --write

chore: add volta to use
  .vscode/settings.json
  package.json
Due: prettier --write

chore: migrate from node version script to volta
  .nvmrc
  tools/ci/ci.sh
  tools/ci/lint.sh
  tools/ci/test.sh
  tools/start.sh
Due: none

chore: turn off ts rule
  tsconfig.json
Due: prettier --write

refactor: ts refactoring
  .github/workflows/docker.yml
  config/shared/plugins/assets-manifest.ts
  server/app.ts
  server/lib/console/app-output-info.ts
  server/lib/console/app-output.ts
  server/lib/console/types.ts
  server/lib/server/runner.ts
  tsconfig.json
Due: prettier --write, yarn lint:styled, yarn lint-fix

feat: add some useful hooks
  src/shared/hooks/debounced/createDebouncedEffectHook.ts
  src/shared/hooks/debounced/createDebouncedHook.ts
  src/shared/hooks/debounced/useDebounce.ts
  src/shared/hooks/debounced/useDebounceEffect.ts
  src/shared/hooks/debounced/useThrottle.ts
  src/shared/hooks/debounced/useThrottleEffect.ts
  src/shared/hooks/index.ts
  src/shared/hooks/useClickOutside.ts
  src/shared/hooks/useIsMounted.ts
  src/shared/hooks/useLatest.ts
  src/shared/hooks/useSafeState.ts
  src/shared/lib/functions/debounce.ts
  src/shared/lib/functions/index.ts
  src/shared/lib/functions/throttle.ts
  src/shared/lib/functions/types.ts
  src/shared/types/utility.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

chore: update deps
  .yarn/releases/yarn-3.6.0.cjs
Due: none

chore: update deps
  .eslintrc
  .vscode/settings.json
  .yarn/releases/yarn-3.3.0.cjs
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  server/app.ts
  server/shim.ts
  src/pages/home/ui/Body.tsx
  src/pages/second/ui/Second.tsx
  src/shared/ui-kit/button/Button.tsx
  src/shared/ui-kit/image/components/ProgressiveImage.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, yarn lint:styled, yarn lint-fix

chore: vscode config upd
  .vscode/launch.json
  .vscode/settings.json
Due: prettier --write

refactor: changes in configs and add tests
  config/env/generateConfig.spec.ts
  config/env/generateConfig.ts
  config/env/types.ts
  config/shared/lib/env/getEnvironmentVariables.spec.ts
  config/shared/lib/env/getEnvironmentVariables.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

refactor: change files names and write hooks test
  src/shared/hooks/__tests__/click-outside.spec.tsx
  src/shared/hooks/__tests__/synchronized-animation.spec.tsx
  src/shared/hooks/actions.ts
  src/shared/hooks/click-outside.ts
  src/shared/hooks/debounced/create-debounced-effect-hook.ts
  src/shared/hooks/debounced/create-debounced-ook.ts
  src/shared/hooks/debounced/debounce-effect.ts
  src/shared/hooks/debounced/debounce.ts
  src/shared/hooks/debounced/throttle-effect.ts
  src/shared/hooks/debounced/throttle.ts
  src/shared/hooks/debounced/useDebounceEffect.ts
  src/shared/hooks/debounced/useThrottleEffect.ts
  src/shared/hooks/index.ts
  src/shared/hooks/initial-props.ts
  src/shared/hooks/intersection.ts
  src/shared/hooks/is-mounted.ts
  src/shared/hooks/latest.ts
  src/shared/hooks/local-storage.ts
  src/shared/hooks/lock-body-scroll.ts
  src/shared/hooks/media.ts
  src/shared/hooks/previous.ts
  src/shared/hooks/safe-state.ts
  src/shared/hooks/synchronized-animations.ts
  src/shared/hooks/why-you-did-update.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

test: add some tests
  .lintstagedrc
  package.json
  src/shared/lib/functions/__tests__/debounce.spec.ts
  src/shared/lib/functions/__tests__/throttle.spec.ts
  src/shared/lib/functions/debounce.ts
  src/shared/lib/functions/throttle.ts
  src/shared/lib/functions/types.ts
  src/shared/lib/redux/functions/actions/action-creator.spec.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

chore: fix filename
  src/shared/hooks/debounced/create-debounced-hook.ts
  src/shared/hooks/debounced/debounce.ts
  src/shared/hooks/debounced/throttle.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

fix: fix intersection hook
  src/shared/hooks/useIntersection.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

chore: update configs
  .lintstagedrc
  .vscode/settings.json
Due: prettier --write

chore: fix types
  config/env/generateConfig.spec.ts
  package.json
Due: prettier --write, yarn lint:styled, yarn lint-fix

build: fix build
  config/shared/lib/env/getEnvironmentVariables.spec.ts
  config/shared/lib/env/getEnvironmentVariables.ts
  config/shared/plugins/define.ts
  src/shared/lib/functions/throttle.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

build: fix prod build
  config/shared/plugins/analyzer.ts
  config/shared/plugins/define.ts
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, yarn lint:styled, yarn lint-fix
