Repository kirill-krasuk/donut_boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

style(lint-staged): add steps to lint-staged
  .lintstagedrc
Due: none

refactor(webpack): refactoring webpack config files
  .lintstagedrc
  config/.storybook/main.ts
  config/.storybook/preview.tsx
  config/shared/config/paths.ts
  config/shared/constants/paths.ts
  config/shared/enums/mode.ts
  config/shared/lib/env/getEnvironmentVariables.ts
  config/shared/loaders/css-loader.ts
  config/shared/loaders/css-module-loader.ts
  config/shared/loaders/font-loader.ts
  config/shared/loaders/image-loader.ts
  config/shared/loaders/svg-loader.ts
  config/shared/plugins/analyzer.ts
  config/shared/plugins/define.ts
  config/shared/plugins/extract-css.ts
  config/shared/plugins/html.ts
  config/shared/plugins/speed-measure.ts
  config/shared/plugins/tsconfig-paths.ts
  config/webpack/webpack.common.ts
  config/webpack/webpack.dev.ts
  config/webpack/webpack.prod.ts
  config/webpack/webpack.server.ts
  src/app/application/Application.tsx
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

refactor(server): refactoring server files
  server/lib/async/delay.ts
  server/lib/client-server/initialize-state.ts
  server/lib/console/appOutput.ts
  server/lib/server/render.ts
  server/lib/webpack/compilation-promise.ts
  server/lib/webpack/loadable-chunks.ts
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

refactor(app): refactor app files
  config/css/styled.stylelint.json
  src/app/entrypoint.tsx
  src/shared/lib/array/index.ts
  src/shared/lib/array/range.ts
  src/shared/lib/dom/functions/getDarkModeQuery.ts
  src/shared/lib/dom/functions/setDataThemeAttribute.ts
  src/shared/lib/file/__tests__/replaceExtension.spec.ts
  src/shared/lib/file/index.ts
  src/shared/lib/file/replaceExtension.ts
  src/shared/lib/notification/callNotification.ts
  src/shared/lib/notification/index.ts
  src/shared/lib/patterns/index.ts
  src/shared/lib/random/getRandomRange.ts
  src/shared/lib/random/index.ts
  src/shared/lib/react/functions/builder/createRoutePage.tsx
  src/shared/lib/react/functions/factory/createFactory.ts
  src/shared/lib/react/functions/props/getInitialProps.ts
  src/shared/lib/redux/functions/store/create-store.ts
  src/shared/lib/string/functions/interpolate.ts
  src/shared/lib/toggler/createToggleHelper.ts
  src/shared/lib/toggler/index.ts
  src/shared/ui-kit/image/components/Picture.tsx
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

refactor(src): fix after refactoring
  src/entities/locale/lib/toggleLocale.ts
  src/entities/theme/lib/toggleTheme.ts
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

fix(generators): fix generator missed data in callback
  tools/lib/generators/constants/patterns.ts
  tools/lib/generators/functions/generate.ts
  tools/lib/generators/functions/update.ts
  tools/lib/generators/index.ts
  tools/lib/generators/templates/component.ejs
  tools/lib/generators/templates/lazy-component.ejs
  tools/lib/generators/templates/locales.ejs
  tools/lib/generators/templates/page-entrypoint.ejs
  tools/lib/generators/templates/style.ejs
  tools/lib/generators/templates/styled-component.ejs
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

build(css): add postcss loader to sass webpack loaders chain
  config/shared/loaders/sass-loader.ts
  config/shared/loaders/sass-module-loader.ts
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

chore(vscode): add debug config for jest
  .vscode/launch.json
Due: prettier --write

chore(vscode): refactoring settings
  .vscode/settings.json
Due: prettier --write

style: fix code style
  src/app/providers/index.ts
  src/entities/theme/model/hooks/useThemeMode.ts
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

style(sw): format service-worker file
  src/app/service-worker.js
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

refactor(ssr): refactoring ssr engine builder variable
  .env.example
  .lintstagedrc
  config/env/env.d.ts
  config/env/getters.ts
  config/env/scheme.ts
  server/app.ts
  server/bootstrap.ts
  server/lib/console/getAppOutputInfo.ts
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

refactor(server): engine factory
  server/adapters/server/ServerAdapterFactory.ts
  server/adapters/server/index.ts
  server/bootstrap.ts
  server/factories/server/ServerEngineFactory.ts
  server/factories/server/index.ts
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

style: remove sorting imports format
  .vscode/settings.json
Due: prettier --write

chore(deps): remove unused @types packages and react-router from deps
  package.json
  server/lib/client-server/prefetch.ts
  src/app/providers/with-router/RedirectProvider/hooks/useRedirect.ts
  src/app/providers/with-router/RedirectProvider/types.ts
  src/app/routes/index.tsx
  src/pages/index.tsx
  src/shared/lib/react/types/builder.ts
  src/shared/lib/react/types/components.ts
  yarn.lock
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

chore(deps): update dependencies
  package.json
  src/global.d.ts
  yarn.lock
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

refactor(bash): refactoring bash sequence execution scripts from && to l
  tools/common/prune_caches.sh
  tools/lib/build/bundle.sh
  tools/run_server.sh
  tools/start.sh
Due: none

refactor: change dirname to process.cwd where is needed
  config/.storybook/main.ts
  server/app.ts
  tools/lib/generators/utils/getLocalesConfigFiles.ts
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

refactor(types): refactor FC to VFC
  src/app/application/Application.tsx
  src/app/providers/with-modals/ModalManager.tsx
  src/app/providers/with-theme/ThemeProvider.tsx
  src/app/routes/root-view/index.tsx
  src/features/header/ui/Header.tsx
  src/features/modals/greeting/Greeting.tsx
  src/features/modals/modal-test/ModalTest.tsx
  src/features/modals/ui/Modal.tsx
  src/pages/home/ui/Body.tsx
  src/pages/home/ui/Home.tsx
  src/pages/not-found/ui/Page404.tsx
  src/pages/posts-example/ui/Posts.tsx
  src/pages/protected-page/ui/ProtectedPage.tsx
  src/pages/second/ui/Second.tsx
  src/shared/lib/react/types/components.ts
  src/shared/ui-kit/image/Image.tsx
  src/shared/ui-kit/image/types.ts
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

test(codecov): add github workflow for codecov
  .circleci/config.yml
  .editorconfig
  .github/workflows/codecov.yml
  .github/workflows/codeql-analysis.yml
  .vscode/settings.json
Due: prettier --write

test(codecov): fix branch name
  .github/workflows/codecov.yml
Due: none

docs(README): update readme file with codecov badge
  .github/workflows/codecov.yml
  README.md
Due: prettier --write

chore(codecov): fix codecov config
  .github/workflows/codecov.yml
Due: none

chore(codecov): try to fix caching dependencies
  .github/workflows/codecov.yml
Due: none

chore(codecov): remove unused lines in config
  .github/workflows/codecov.yml
Due: none

test(string): add more test for increase coverage
  .eslintignore
  src/shared/lib/string/__tests__/kebabToCamel.spec.ts
  src/shared/lib/string/__tests__/snakeToCamel.spec.ts
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

test(string): fix failed test
  src/shared/lib/string/__tests__/snakeToCamel.spec.ts
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

test: coverage report test
  src/shared/lib/string/__tests__/camelToKebab.spec.ts
  src/shared/lib/string/__tests__/interpolate.spec.ts
  src/shared/lib/string/__tests__/snakeToCamel.spec.ts
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

chore(codecov): add codecov config
  codecov.yml
Due: none

chore(README): update README.md
  README.md
Due: prettier --write

fix(stylelint): fix cli linting
  config/css/styled.stylelint.json
  package.json
Due: prettier --write

chore: change fastify-express package
  package.json
Due: prettier --write

chore: change README.md logo
  README.md
Due: prettier --write

chore: update yarn.lock
  yarn.lock
Due: none

refactor: fix global styles by stylelint
  src/app/providers/with-styles/GlobalStyles.ts
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

refactor: server static files work
  server/adapters/server/FastifyAdapter.ts
  server/config/compression.ts
  server/config/static.ts
  server/constants/cache.ts
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

chore: webpack refactoring
  config/webpack/webpack.common.ts
  config/webpack/webpack.dev.ts
Due: prettier --write, yarn types, yarn lint:styled, yarn lint-fix

Path conditions:
  prettier --write: (any of: **/*.{json,css,scss,sass,md}) or (any of: **/*.{js,jsx,ts,tsx})
  yarn types: any of: **/*.{js,jsx,ts,tsx}
  yarn lint:styled: any of: **/*.{js,jsx,ts,tsx}
  yarn lint-fix: any of: **/*.{js,jsx,ts,tsx}
