Repository kirill-krasuk/donut_boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:styled, yarn lint-fix

.lintstagedrc:

{
	"**/*.{json,css,scss,sass,md}": ["prettier --write"],
	"**/*.{js,jsx,ts,tsx}": ["yarn lint:styled", "prettier --write", "yarn lint-fix"]
}

feat: deploy
  .env.example
  .github/workflows/deploy.yml
  app_version.sh
  env.sh
  index.tmpl.html
Due: none

fix: fix
  .github/workflows/deploy.yml
Due: none

fix: fix
  .github/workflows/deploy.yml
  app_version.sh
Due: none

chore: format bash files
  tools/ci/ci.sh
  tools/ci/lint.sh
  tools/ci/test.sh
  tools/common/clear_dist.sh
  tools/common/mklogs.sh
  tools/common/node_version.sh
  tools/constants/colors.sh
Due: none

chore(github): add docker build workflow
  .github/workflows/docker.yml
Due: none

chore(github): try to build multi arch docker
  .github/workflows/docker.yml
Due: none

chore(docker): test image
  config/docker/prod.Dockerfile
Due: none

chore(docker): test image (fix)
  config/docker/prod.Dockerfile
Due: none

fix(docker): fix production docker build
  .github/workflows/docker.yml
  .vscode/settings.json
  Makefile
  config/docker/prod.Dockerfile
  package.json
  server/app.ts
  server/middlewares/index.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

chore(server): exit on ready
  server/lib/server/runner.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

chore(github): update docker build workflow
  .github/workflows/docker.yml
Due: none

chore(github): fix server running check
  .github/workflows/docker.yml
Due: none

chore(github): add caching for docker build action
  .github/workflows/docker.yml
Due: none

chore(github): naming workflow step in docker.yml
  .github/workflows/docker.yml
Due: none

chore(yarn): update yarn version
  .vscode/settings.json
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-4.0.0-rc.9.cjs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, yarn lint:styled, yarn lint-fix

chore(ci): fix ci
  yarn.lock
Due: none

chore(yarn): go back to stable version
  .yarn/releases/yarn-3.2.1.cjs
  .yarn/releases/yarn-4.0.0-rc.9.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

feat(docker): add dev docker
  .env.example
  .github/workflows/docker.yml
  .vscode/settings.json
  Makefile
  config/docker/dev.Dockerfile
  config/docker/docker-compose.dev.yml
  config/docker/prod.Dockerfile
Due: prettier --write

chore(ci): fix docker build
  .github/workflows/docker.yml
Due: none

chore(docker): upgrade dev docker config
  .env.example
  config/docker/docker-compose.dev.yml
Due: none

refactor(server): refactoring server pattern
  server/adapters/server/ExpressAdapter.ts
  server/adapters/server/FastifyAdapter.ts
  server/adapters/server/HTTPServerAdapter.ts
  server/app.ts
  server/bootstrap.ts
  server/factories/server/ServerEngineFactory.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

fix(css): repair critical css with sass modules
  config/shared/loaders/css-loader.ts
  config/shared/loaders/css-module-loader.ts
  config/shared/loaders/sass-loader.ts
  config/shared/loaders/sass-module-loader.ts
  package.json
  server/lib/css/getStyles.tsx
  yarn.lock
Due: prettier --write, yarn lint:styled, yarn lint-fix

fix(css): remove unused import
  server/lib/css/getStyles.tsx
Due: prettier --write, yarn lint:styled, yarn lint-fix

docs: format by axe linter
  docs/structure/README.md
Due: prettier --write

style(env): fix format
  config/env/getters.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

chore: format
  src/app/entrypoint.tsx
  src/entities/locale/model/store/selectors.ts
  src/entities/theme/model/store/selectors.ts
  src/features/modals/ui/Modal.tsx
  src/shared/enums/key-codes.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

chore: rename store.d.ts to shared-kernel
  src/shared-kernel.d.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

refactor(app): refactoring server/app init
  server/lib/react/generateAppComponent.tsx
  server/lib/react/index.ts
  server/lib/react/types.ts
  server/middlewares/serverSideRendering.tsx
  src/app/application/Application.client.tsx
  src/app/application/Application.server.tsx
  src/app/entrypoint.tsx
  src/app/providers/client.ts
  src/app/providers/index.ts
  src/app/providers/server.ts
  src/app/providers/with-chunk-extractor/index.ts
  src/app/providers/with-chunk-extractor/withChunkExtractor.tsx
  src/app/providers/with-locales/LocalesProvider.tsx
  src/app/providers/with-locales/index.ts
  src/app/providers/with-locales/withLocales.client.tsx
  src/app/providers/with-locales/withLocales.server.tsx
  src/app/providers/with-router/index.ts
  src/app/providers/with-router/withRouter.client.tsx
  src/app/providers/with-router/withRouter.server.tsx
  src/app/providers/with-router/withRoutes.tsx
  src/app/providers/with-store/index.ts
  src/app/providers/with-store/withStore.client.tsx
  src/app/providers/with-store/withStore.server.tsx
  src/app/providers/with-theme/index.ts
  src/app/providers/with-theme/withTheme.client.tsx
  src/app/providers/with-theme/withTheme.server.tsx
  src/shared-kernel.d.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

chore: log tsc errors in ci
  tools/ci/lint.sh
Due: none

fix: remove artifact import
  src/pages/home/ui/Home.tsx
Due: prettier --write, yarn lint:styled, yarn lint-fix

ci: add cancel prev workflow
  .github/workflows/docker.yml
Due: none

ci: add cancel workflow run
  .github/workflows/codecov.yml
  .github/workflows/codeql-analysis.yml
Due: none

chore: configs update
  config/.storybook/main.ts
  config/webpack/webpack.common.ts
Due: prettier --write, yarn lint:styled, yarn lint-fix

refactor: dir names style refactoring
  server/app.ts
  server/lib/console/app-border.ts
  server/lib/console/app-output-info.ts
  server/lib/console/app-output.ts
  server/lib/console/index.ts
  server/lib/css/get-styles.tsx
  server/lib/css/index.ts
  server/lib/react/index.ts
  server/lib/react/static-template.tsx
  server/lib/url/index.ts
  server/lib/url/join-url-path.ts
  server/middlewares/dev.ts
  server/middlewares/index.ts
  server/middlewares/ssr.tsx
Due: prettier --write, yarn lint:styled, yarn lint-fix
