Repository kirill-krasuk/donut_boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:styled, eslint --fix

.lintstagedrc:

{
	"**/*.{json,css,scss,sass,md}": ["prettier --write"],
	"**/*.{js,jsx,ts,tsx}": ["yarn lint:styled", "prettier --write", "eslint --fix"]
}

build(docker): up node version in docker
  config/docker/dev.Dockerfile
  config/docker/prod.Dockerfile
  package.json
  server/app.ts
  server/lib/compression/filter.ts
  yarn.lock
Due: prettier --write, yarn lint:styled, eslint --fix

lint: fix eslint, type checking
  .eslintrc
  config/.storybook/shim.ts
  package.json
  src/shared/hooks/synchronized-animations.ts
  yarn.lock
Due: prettier --write, yarn lint:styled, eslint --fix

chore: refactor post page example
  src/pages/posts-example/ui/Posts.tsx
  src/pages/posts-example/ui/styles/PostContainer.ts
  src/pages/posts-example/ui/styles/PostItem.ts
  src/pages/posts-example/ui/styles/index.ts
  src/shared/types/utility.ts
Due: prettier --write, yarn lint:styled, eslint --fix

style: update styled components lint
  .lintstagedrc
  package.json
  src/app/providers/with-styles/GlobalStyles.ts
  src/app/routes/root-view/styles/AnimationContainer.ts
  src/features/modals/ui/modal/styles/Backdrop.ts
  src/features/modals/ui/modal/styles/Head.ts
  src/features/modals/ui/modal/styles/Wrapper.ts
  src/features/toggle-locale/ui/toggle-locale/styles/LocaleButton.ts
  src/pages/home/ui/styles/Text.ts
  src/pages/not-found/ui/styles/Container.ts
  src/pages/not-found/ui/styles/Description.ts
  src/pages/not-found/ui/styles/Title.ts
  src/pages/posts-example/ui/styles/PostItem.ts
  src/pages/second/ui/styles/Text.ts
  src/shared/config/theme/theme.ts
  src/shared/ui-kit/button/styles/Wrapper.ts
  src/shared/ui-kit/col/index.ts
  src/shared/ui-kit/image/styles/Container.ts
  src/shared/ui-kit/image/styles/ImgContainer.ts
  src/shared/ui-kit/row/index.ts
  src/shared/ui-kit/spacing/index.ts
  src/widgets/header/ui/header/styles/Content.ts
  src/widgets/header/ui/header/styles/Header.ts
  src/widgets/header/ui/header/styles/Nav.ts
  src/widgets/header/ui/header/styles/Title.ts
Due: prettier --write, yarn lint:styled, eslint --fix

chore: add inline pre-commit command
  .lintstagedrc
  package.json
  src/app/routes/root-view/styles/AnimationContainer.ts
Due: prettier --write, yarn lint:styled, eslint --fix

chore: fix style
  src/app/routes/root-view/styles/AnimationContainer.ts
Due: prettier --write, yarn lint:styled, eslint --fix

style: fix stylelint config
  .vscode/settings.json
  config/css/css.stylelint.json
  config/css/styled.stylelint.json
  package.json
  src/app/application/styles/fonts.css
Due: prettier --write

fix: remove unused packages from .lock
  yarn.lock
Due: none

ci: fix typechecking
  .lintstagedrc
  package.json
  src/shared/ui-kit/button/Button.tsx
Due: prettier --write, yarn lint:styled, eslint --fix

lint: add cache flag into lint staged command
  package.json
Due: prettier --write

chore: bump typescript/yarn versions
  .gitignore
  .yarn/releases/yarn-3.6.0.cjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/bin-prettier.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
Due: prettier --write, yarn lint:styled, eslint --fix

feat: add locator js for dev mode
  .babelrc
  config/webpack/webpack.dev.ts
  src/app/entrypoint.tsx
Due: prettier --write, yarn lint:styled, eslint --fix

chore: replace JSON to SuperJSON
  package.json
  server/lib/react/static-template.tsx
  yarn.lock
Due: prettier --write, yarn lint:styled, eslint --fix

chore: add ts-reset
  config/env/generateConfig.ts
  server/adapters/server/HTTPServerAdapter.ts
  server/lib/webpack/loadable-chunks.ts
  src/app/entrypoint.tsx
  src/shared/hooks/actions.ts
  src/shared/hooks/local-storage.ts
Due: prettier --write, yarn lint:styled, eslint --fix

build: fix app build
  package.json
  server/adapters/server/HTTPServerAdapter.ts
  server/lib/react/static-template.tsx
  yarn.lock
Due: prettier --write, yarn lint:styled, eslint --fix
